<section class="contacts">
    <div class="contact-header">
        <h1>Промени избраният сорт</h1>
    </div>
    <div class="contact-form">
        <form action='/cherry/edit/{{cherry._id}}' method="POST">
            {{!-- <div class="title">
                <h6>Изпратете запитване</h6>
            </div> --}}
            {{!-- <div class="name">
                <p class="firstname">
                    <label for="firstname">Име:<span>*</span></label>
                    <input type="text" name="firstname" id="firstname">
                    <span>Име</span>
                </p>
                <p class="lastname">
                    <label for="lastname">Фамилия:<span>*</span></label>
                    <input type="text" name="lastname" id="lastname">
                    <span>Фамилия</span>
                </p>
            </div> --}}
            <p class="sort">
                <label for="sort">Име:<span>*</span></label>
                <input type="text" name="sort" id="sort" value="{{cherry.sort}}">
            </p>
            <p class="price">
                <label for="price">Цена:<span>*</span></label>
                <input type="text" name="price" id="price" value="{{cherry.price}}">
            </p>
            <p class="imagePath">
                <label for="imagePath">Снимка:<span>*</span></label>
                <input type="text" name="imagePath" id="imagePath" value="{{cherry.imagePath}}">
            </p>
            <p class="description">
                <label for="description">Съобщение:<span>*</span></label>
                <textarea name="description" id="description" rows="5" >{{cherry.description}}</textarea>
            </p>
            <p class="check-box">
                <label for="check-box">Public</label>
                <input type="checkbox" class="checkbox" id="check-box" name="checkBox" {{#if cherry.isPublic}}checked{{/if}}/>
            </p>
            <div class="form-btn">
                <p class="btn">
                    <button type="submit" class="primary-btn">Промени</button>
                </p>
                {{!-- <p class="btn">
                    <a class="primary-btn" href="/Cherry_Jekyll/contacts/">Изчисти</a>
                </p> --}}
            </div>

        </form>
    </div>
</section>