<section class="site-section home">
    <article class="schedule" id="schedule">
        <header>
            <h2>Списък</h2><span></span>
        </header>
        {{#if arrCherry}}
        <table class="main-table new-order">
            <thead>
                <tr>
                    <th>Снимка</th>
                    <th>Сорт</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Сума</th>
                    <th>Детайли</th>
                </tr>
            </thead>
            <tbody>
                {{#each arrCherry}}

                <form id="refresh-form" action="/user/new-order/{{_id}}" method="post">
                    <tr>
                        <td><img src="{{imagePath}}" alt="{{imagePath}}" width="100px"></td>
                        <td>{{sort}}</td>
                        <td>{{price}} лв</td>
                        <td>
                            <input type="number" min="1" max="999" name="quantity" value="{{quantity}}">
                            <span> x </span>
                            <span>
                                <select name="weigth" id="weigth">
                                    {{#each options}}
                                    <option value="{{value}}" {{#if selected}} selected{{/if}}>{{title}}</option>
                                    {{/each}}
                                </select>
                            </span>
                        </td>
                        <td>
                            <input type="number" min="1" max="9999" disabled name="subTotal" value="{{subTotal}}">
                            <span> лв</span>
                        </td>
                        <td>
                            <a class="primary-btn" href="/user/remove/{{_id}}">Изтрий</a>
                            <input class="primary-btn" type="submit" value="Сумирай" />
                        </td>
                    </tr>
                </form>

                {{/each}}
            </tbody>
        </table>
        <div style="text-align:center">
            <a class="primary-btn" href="/">Вземи още</a>
            <span class="total-price">Общо: {{user.total}} лв</span>
            <a class="primary-btn" href="/order/create">Поръчай!</a>
        </div>
        {{else}}
        <header>
            <h4>Списъкът е празе!</h4>
        </header>
        {{/if}}
    </article>
</section>