<section class="site-section home">
    <article class="sorts" id="sorts">
        {{#if cherrys}}
        <header>
            <h2>Предлагани сортове</h2><span></span>
        </header>
        <ul>
            {{#each cherrys}}
            <li class="site-section-inner">
                <p class="imges">
                    <img src="{{imagePath}}" alt="van">
                    {{!-- <img src="/Cherry_Jekyll/assets/Van.jpg" alt="van"> --}}
                </p>
                <p class="header">
                </p>
                <h3>{{sort}}</h3>
                {{!-- <h3>Ван</h3> --}}
                <p>
                    <h4>{{price}} лв/кг</h4>
                </p>
                <p class="description">
                    {{description}}
                    {{!-- Сорт късни тъмно червени череши с къса дръжка. Концентрирано сладки. --}}
                </p>
                <p>
                    <a class="primary-btn" href="/cherry/edit/{{id}}">Промени</a>
                    <a class="primary-btn" href="/cherry/remove/{{id}}">Изтрии</a>
                </p>
                <p></p>
            </li>
            {{/each}}
            {{!-- <li class="site-section-inner">
                <p class="imges">
                    <img src="/Cherry_Jekyll/assets/Napoleon.jpg" alt="napolon">
                </p>
                <p class="header">
                </p>
                <h3>Наполеон</h3>
                <p></p>
                <p class="description">
                    Сорт късни розови череши. Сладко - кисели на вкус. Отлични за компот и сладко.
                </p>
            </li> --}}
        </ul>
        {{else}}
        <header>
            <h2>Няма създадени сортове. Моля създайте!</h2><span></span>
            {{!-- <h2>Към момента няма предлагани сортове!</h2><span></span> --}}
        </header>
        {{/if}}
    </article>
</section>












{{!-- <div class="row">
    <div class="col text-center">
        <a href="/course/create"><button type="button" class="btn btn-primary btn-lg">Create Course</button></a>
    </div>
</div>

<div class="border border-light p-5">
    {{#if courses}}
    <h1 class="text-center">Choose Course</h1>
    <ul class="list-group">

        {{#each courses}}
        <li class="list-group-item">
            {{this.title}}
            <div class="float-right">
                <div class="btn-group" role="group">
                    <a href="/course/edit/{{this._id}}"><button type="button" class="btn btn-warning">Edit
                            Course</button></a>
                    <a href="/lecture/create/{{this._id}}"><button type="button" class="btn btn-success">Add
                            lectures</button></a>
                </div>
                Lectures in course
                <span class="badge badge-primary badge-pill">{{this.lectures.length}}</span>
            </div>
        </li>
        {{/each}}

    </ul>
    {{else}}
    <h1 class="text-center">No courses in database. Please create one!</h1>
    {{/if}}
</div> --}}