<section class="site-section home">
    <article class="schedule" id="schedule">
        <header>
            <h2>Чакащи поръчки</h2><span></span>
        </header>
        {{#if pendingOrders}}
        <table class="main-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Дата</th>
                    <th>Общо</th>
                    <th>Статус</th>
                    <th>Детайли</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each pendingOrders}}
                <tr>
                    <td>#{{@index}}</td>
                    <td>{{dateToStr}}</td>
                    <td>{{total}} лв</td>
                    <td>{{status}}</td>
                    <td><a href="/order/details-admin/{{_id}}">Виж</a></td>
                    <td>
                        <a class="primary-btn" href="/order/remove/{{_id}}">Изтрии</a>
                        <a class="primary-btn" href="/admin/pending-orders/{{_id}}">Одобри</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <header>
            <h4>В момента няма чакащи поръчки!</h4>
        </header>
        {{/if}}
    </article>
</section>