<section class="site-section home">
    <article class="schedule" id="schedule">
        <header>
            <h2>Чакащи поръчки</h2><span></span>
        </header>
        <table class="main-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Дата</th>
                    <th>Общо</th>
                    <th>Статус</th>
                    <th>Детайли</th>
                    {{!-- <th>Action</th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>#{{@index}}</td>
                    <td>{{date}}</td>
                    <td>{{total}} лв</td>
                    <td>{{status}}</td>
                    <td><a href="/order/details/{{_id}}">Виж</a></td>
                    {{!-- <td><a class="primary-btn" href="#">Изтрии</a><a class="primary-btn" href="#">Одобри</a></td> --}}
                </tr>
                {{else}}
                <p>В момента няма направени поръчки!</p>
                {{/each}}
            </tbody>
        </table>
    </article>
</section>