<section class="site-section home">

    <article class="schedule" id="schedule">
        <header>
            <h2>Списък</h2><span></span>
        </header>
        <table class="main-table">
            <thead>
                <tr>
                    <th>Снимка</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Сума</th>
                    <th>Детайли</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                {{#each user.arrCherry}}
                <td><img src="{{imagePath}}" alt="{{imagePath}}" width="100px"></td>
                <td>{{sort}}</td>
                <td>{{price}} лв.</td>
                <td>
                    <input type="number" min="0" max="999" name="quantity" value="{{quantity}}">
                    <span> x </span>
                    <select name="weigth" id="weigth">
                        {{#each options}}
                        <option value="{{value}}" {{#if selected}} selected{{/if}}>{{title}}</option>
                        {{/each}}
                        {{!-- <option value="0">0 kg</option>
                        <option value="6">6 kg</option>
                        <option value="8">8 kg</option>
                        <option value="10">10 kg</option>
                        <option value="12">12 kg</option> --}}
                    </select>
                </td>

                <td>
                    <input type="text" disabled name="subTotal" value="{{subTotal}}" maxlength="50" width="100px">
                    <span> лв.</span>
                </td>
                <td>
                    <form id="refresh-form" action="/user/new-order/{{id}}" method="post"></form>
                    <a class="primary-btn" href="/user/remove/{{id}}">Изтрии</a>
                    <a class="primary-btn"
                        href="javascript:document.getElementById('refresh-form').submit()">Refresh</a>
                </td>
                {{else}}
                <header>
                    <h4>Списъкът е празе!</h4><span></span>
                </header>
                {{/each}}
            </tbody>
        </table>
        <form id="order-form" action="/order/create" method="post"></form>
        <a class="primary-btn" href="/">Вземи още</a>
        <input type="text" disabled name="total" value="{{user.total}}">
        <span> лв.</span>
        <a class="primary-btn" href="javascript:document.getElementById('order-form').submit()">Поръчай!</a>
    </article>

</section>